#userId{
    max-width: 200px;
    overflow:hidden;
    word-break: break-all;
    float: left;
    margin: 0;
    color: #6D5874;
}
#chatHome{
    width: 100%;
    table-layout: fixed;
}
#chatHome tr:nth-child(2n){
    border-bottom: 3px solid #EEF1F4;
}
#chatHome tr:last-child{
    border: 0;
}

#chatHome td{
    height: 40px;
    padding: 5px;
    padding-left: 10px;
}
#chatId{
    font-size: 18px;
    font-weight: bold;
}
.chatText{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
