@charset "UTF-8";

.main {
	width: 1200px;
	margin: 0 auto;
	margin-top:100px;
	margin-bottom:100px;
	overflow: hidden;
}
.main h1{
	text-align: center;
}
.btnWrap {
	margin: 0 auto;
	width: 350px;
}

.btnWrap button {
	width: 350px;
	border: none;
	height: 50px;
	background-color: #C4BFE3;
	font-size: 18px;
	color: white;
	border-radius: 3px;
		margin-top: 70px;
}

.btnWrap button:hover {
	color: rgba(255, 255, 255, 0.5);
}
.milkitList{
	overflow: hidden;
}
.milkit {
	width: 330px;
	height: 420px;
	margin-top: 30px;
	float: left;
	margin-right: 30px;
	margin-left: 30px;
	border-radius: 10px; 
	
}

.milkit img {
	width: 330px;
	height: 200px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom:20px;
	object-fit:cover;
}

.main a {
	text-decoration: none;
}

.name {
	font-size: 24px;
	font-weight: 900;
}

.price {
	font-size: 18px;
	font-weight: 800;
}

.milkit p {
	color: #6D5874;
	padding-left: 10px;
}

#total {
	color: #6D5874;
	font-weight: bold;
	width: 80px;
	margin-left:70px;
}

#make button {
	color: #8E44AD;
	font-weight: 800;
	display: block;
	width: 200px;
	height: 50px;
	border: 2px solid #8E44AD;
	font-size: 15px;
	border-radius: 4px;
	text-align: center;
	background-color:white;
	float: right;
	margin-right: 100px;
}

#make button:hover {
	color: white;
	background-color: #8E44AD;
	font-weight: 900;
	transition: 0.5s;
}

.milkitList {
	margin-top: 100px;
}
.milkit:hover{
	  cursor: pointer;
     transform: translate3d(0,-10px,0);
 	 box-shadow :2px 2px 2px 2px rgba(214, 212, 212,0.5);
      transition: transform .35s;
}