<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="kr.or.member.model.vo.Member" alias="m"/>
		<typeAlias type="kr.or.admin.model.vo.Member2" alias="m2"/>
		<typeAlias type="kr.or.coupon.model.vo.Coupon" alias="c"/>
		<typeAlias type="kr.or.admin.model.vo.Prev" alias="prev"/>

		<typeAlias type="kr.or.cart.model.vo.Cart" alias="cart"/>
		<typeAlias type="kr.or.chat.model.vo.Chat" alias="chat"/>
		<typeAlias type="kr.or.order.model.vo.Order" alias="o"/>
		<typeAlias type="kr.or.point.model.vo.Point" alias="p"/>
		<!-- 태경 alias -->
		<typeAlias type="kr.or.freeboard.model.vo.Freeboard" alias="fb"/>
		<typeAlias type="kr.or.notice.model.vo.Notice" alias="n"/>
		<typeAlias type="kr.or.recipecontest.model.vo.RecipeContest" alias="rc"/>
		<!-- 태경 alias 끝 -->
		
		<!-- 성승민 별칭 추가 -->
		<typeAlias type="kr.or.cookingCls.model.vo.CookingCls" alias="ccls"/>
		<typeAlias type="kr.or.cookingRsrv.model.vo.CookingRsrv" alias="crsrv"/>
		<typeAlias type="kr.or.dm.model.vo.Dm" alias="dm"/>
		<typeAlias type="kr.or.review.model.vo.Review" alias="review"/>
		<typeAlias type="kr.or.store.model.vo.Store" alias="store"/>
		<!-- 성승민 별칭 끝 -->
		
		<!-- 김민지 별칭추가 -->
		<typeAlias type="kr.or.recipe.model.vo.RecipeBoard" alias="rb"/>
		<typeAlias type="kr.or.recipe.model.vo.RecipeComment" alias="rcomment"/>
		<typeAlias type="kr.or.recipe.model.vo.Material" alias="material"/>
		<typeAlias type="kr.or.recipe.model.vo.RecipeContent" alias="rcontent"/>
		<typeAlias type="kr.or.recipe.model.vo.RecipeReport" alias="report"/>
		<typeAlias type="kr.or.recipe.model.vo.RecipeLike" alias="rlike"/>
		

		<typeAlias type="kr.or.mypage.model.vo.Follow" alias="fl"/>
		<typeAlias type="kr.or.mypage.model.vo.ContestWin" alias="ct"/>
		<typeAlias type="kr.or.coupon.model.vo.CouponList" alias="cl"/>
	    <typeAlias type="kr.or.coupon.model.vo.MyCoupon" alias="mcou"/>

	     <typeAlias type="kr.or.cookingRsrv.model.vo.MyCookingRsrv" alias="mcr"/>
	     <typeAlias type="kr.or.review.model.vo.MyClassReview" alias="mreview"/>
	     <typeAlias type="kr.or.review.model.vo.MyItemReview" alias="ireview"/>
	     <typeAlias type="kr.or.mypage.model.vo.MyContest" alias="myc"/>
	     <typeAlias type="kr.or.mypage.model.vo.MyItem" alias="mi"/>
	     <typeAlias type="kr.or.mypage.model.vo.LikeRecipe" alias="lr"/>
	     <typeAlias type="kr.or.mypage.model.vo.FollowList" alias="fol"/>
	     <typeAlias type="kr.or.mypage.model.vo.Mychat" alias="mc"/>
	      <typeAlias type="kr.or.mypage.model.vo.Myorder" alias="mo"/>
	        <typeAlias type="kr.or.mypage.model.vo.Mysell" alias="ms"/>
	          <typeAlias type="kr.or.mypage.model.vo.Mydm" alias="md"/>
	</typeAliases>
</configuration>

