@charset "UTF-8";

@charset "UTF-8";

        .main{
            width: 1200px;
            margin: 0 auto;
            margin-top: 100px;
            margin-bottom: 100px;
        }
        .main h1{
            text-align: center;
        }
        .frm{
            width: 1000px;
            margin: 0 auto;
            margin-top: 80px;
        }
    .membershipFrm {
	height: 80px;
    
	overflow: hidden;
}
.membershipFrm:nth-of-type(2){
    height: 150px;
}
.membershipFrm label {
	width: 200px;
	float: left;
    margin-top: 10px;
	font-size:20px;
	font-weight: 800;
	border-left: 3px solid #E0D8EF;
	border-radius:2px;
	padding-left: 10px;
}
.post{
    float: left;
    margin: 0%;
}
.membershipFrm input {
	height: 45px;
	width: 250px;
}
.post input{
    width: 320px;
    margin-top: 7px;
    margin-right: 10px;
}
#postBtn{
    border:none;
    width: 200px;
    border-radius: 3px;
    background-color: #E0D8EF;
    color: #8E44AD;
    font-size: 15px;
    font-weight: bold;
}
#postBtn:hover{
    color: #C4BFE3;
    cursor: pointer;
}
.terms{
    width: 550px;
    margin: 0 auto;
}
.terms textarea{
    width: 550px;
    height: 230px;
    resize: none;
}
#check img{
    width: 15px;
}
#check span{
    font-size: 20px;
    font-weight: 900;
    color: #4d4d4d;
}
#checkText:hover{
    cursor: pointer;
}
#termsText{
    margin: 30px;
}
#btn{
    width: 350px;
    margin: 0 auto;
    margin-top: 50px;
}
#submitBtn{
    width: 350px;
	border: none;
	height: 50px;
	background-color: #C4BFE3;
	font-size: 18px;
	color:white;
	border-radius: 3px;
}
#submitBtn:hover{
    cursor: pointer;
}