@charset "UTF-8";

.main {
	width: 1200px;
	margin: 0 auto;
	margin-top:100px;
	margin-bottom:100px;
	
}

.main a {
	text-decoration: none;
}

.recipe {
	width: 320px;
	height: 450px;
	text-align: center;
	float: left;
	border-radius: 10px;
	margin:35px;
	position: relative;
	box-shadow :2px 2px 2px 2px rgba(214, 212, 212,0.5);
}

.recipe p {
	color: #6D5874;

}
.recipe:hover{
		  cursor: pointer;
     transform: translate3d(0,-10px,0);
 	 box-shadow :2px 2px 2px 2px rgba(214, 212, 212,0.5);
      transition: transform .35s;
}

.recipe img {
	width: 320px;
	height: 200px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: 20px;
}

.title {
	font-size: 30px;
	font-weight: 600;
	margin-top:10px;
}

.name {
	font-size: 18px;
	width:100px;
	margin:0 auto;
	background-color: rgba(153, 66, 146, 0.205);
	border-radius: 20px;
	
}
.info{

	padding-top:10px;
	position:absolute;
	bottom:0;
	width:100%;
	box-sizing: border-box;


	
}
.info div{
	font-weight:600;
	float:left;
	width: calc(100%/ 3);	
	
	
}

.infoText{
	font-weight: 900;
	font-size:18px;
	background-color:rgba(153, 66, 146, 0.2);
	border-bottom:2px solid rgba(153, 66, 146, 0.205);
	border-top:2px solid rgba(153, 66, 146, 0.205);
	
}

