@charset "UTF-8";

.main {
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
	width: 1200px;
}

.mainImg {
	text-align: center;
	position: relative;
}

#titleImg {
	border-radius: 20px;
}
#profile:hover{
	cursor: pointer;
}
.checkImg {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.checkImg img {
	float: right;
	margin: 10px;
	width: 25px;
	color: #6D5874;
}

#count {
	position: absolute;
	border-radius: 15px;
	background-color: #443c46;
	width: 100px;
	text-align: center;
	top: 88%;
	left: 68%;
}

.mainImg>img {
	width: 700px;
	height: 500px;
}

#countText {
	padding-left: 5px;
	padding-bottom: 5px;
	color: #ababab;
}

#rbName {
	padding-top: 10px;
	font-weight: 900;
	text-align: center;
	font-size: 20px;
}

.rbList {
	margin: 0 auto;
	width: 700px;
	text-align: center;
}

#rbTitle {
	font-size: 50px;
	font-weight: 900;
}

.rbImg .img {
	width: 100px;
	box-sizing: border-box;
}

.rbImg {
	text-align: center;
}

.mList {
	width: 300px;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 15px;
	overflow: hidden;
}

#mTitle {
	text-align: center;
	font-weight: 900;
	font-size: 30px;
}

.mList li {
	margin-top: 10px;
	list-style-type: none;
	padding-left: 50px;
	list-style-type: none;
}

.amount {
	margin-left: 20px;
}

.recipeNavi ul {
	width: 1200px;
	margin: 30px auto;
	overflow: hidden;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 0;
}

.recipeNavi li {
	width: calc(100%/ 3);
	background-color: #C4BFE3;
	float: left;
	display: block;
	box-sizing: border-box;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 25px;
	text-decoration: none;
	border-left: 2px solid #E0D8EF;
	color: #8E44AD;
	font-weight: 800;
}

.recipeNavi li:hover {
	cursor: pointer;
	color: #E0D8EF;
}

.recipeNavi li:first-child {
	border: none;
}

#modal-wrap {
	left: 33%;
	z-index: 1;
	width: 500px;
	height: 350px;
	position: fixed;
}

#modal-wrap>h1 {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #E0D8EF;
	text-align: center;
	padding: 15px 0;
	margin: 0;
}

#modal-content {
	border: 3px solid #E0D8EF;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: white;
}

#modal-content>h5 {
	width: 80%;
	margin: 0 auto;
}

.modalInput {
	margin-top: 30px;
	text-align: center;
}

.modalInput label {
	margin-right: 10px;
}

#modal-btn {
	text-align: center;
}

#modal-btn>button {
	color: white;
	font-size: 20px;
	font-weight: 900;
	margin-left: 10px;
	text-align: center;
	margin-top: 40px;
	background-color: #9F90CF;
	width: 200px;
	height: 45px;
	border: none;
	border-radius: 5px;
	text-align: center;
}

.rbImg img {
	margin: 0 30px;
	padding-top: 30px;
}

.text {
	margin: 0 24px;
	color: #6D5874;
	font-weight: bolder;
}

#topImg img {
	width: 100%;
	margin-bottom: 30px;
}

.contentsWrap {
	width: 1000px;
	margin: 0 auto;
	margin-top: 100px;
}


.contents {
	width: 1000px;
	margin: 0 auto;
	margin-bottom: 50px;	
	display: block;
	box-sizing: border-box;
	overflow: hidden;
}

.contents img {
	width: 300px;
	border-radius: 10px;
}

.contents:first-child {
	margin-bottom: 50px;
}

.conText {
	padding-top: 10px;
	width: 600px;
	background-color: white;
	float: left;
	padding-left: 50px;
	font-size: 25px;
		
	overflow: hidden;
}

.conNum {
	float: left;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #6D5874;
	border-radius: 30px;
	font-size: 30px;
	font-weight: 900;
	color: white;
	margin-top: 10px;
	overflow: hidden;
}

.contents hr {
	margin-top: 50px;
}

.product {
	width: 600px;
	margin: 0 auto;
}

.milkit {
	text-align: center;
}

.milkit img {
	width: 300px;
	max-height: 150px;
	margin: 30px;
	border-radius: 15px;
}

.pTitle {
	font-size: 32px;
	font-weight: 800;
	color: #757575;
}

.pComment {
	font-size: 17px;
	font-weight: bold;
	color: #757575;
}

.product hr {
	margin-top: 50px;
	margin-bottom: 50px;
}

.mPrice {
	font-weight: 800;
}

#update {
	width: 200px;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
}

#update span:first-child {
	margin-right: 10px;
}

#update a:hover {
	border-bottom: 1px solid #9F90CF;
}

.checkImg span:hover {
	cursor: pointer;
}

#recipeVideo {
	width: 710px;
	margin: 0 auto;
}

.rbList {
	margin-top: 20px;
}

#profile {
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

.rcList {
	width: 1000px;
	margin: 0 auto;
	margin-top: 50px;

}

.rcInput form {
	margin: 0 auto;
	text-align: center;
	display: flex;
}

.rcInput textarea {
	width: 800px;
	resize: none;
	height: 80px;
}

#insertBtn {
	border: none;
	height: 80px;
	width: 150px;
	margin-left: 50px;
	font-size: 30px;
	font-weight: 900;
	background-color: #E0D8EF;
	color: white;
	border-radius: 5px;
}

#insertBtn:hover {
	box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px
		rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.comments {
	width: 800px;
	margin: 0 auto;
	margin-top: 50px;
}

.rcName {
	font-size: 24px;
	font-weight: 900;
	margin-left: 10px;
}

.rcDate {
	float: right;
}

.rcContents {
	margin-top: 15px;
	border: 2px solid #4d4d4d;
	padding: 20px;
}

#updateBtn {
	border: none;
	margin-top: 20px;
}

#updateContent {
	margin-top: 20px;
}