@charset "UTF-8";

.form-group:nth-child(2){
	border-bottom: none;
	margin-bottom: 0;
}
.form-group:nth-child(3){
	border-bottom: 2px solid #c0c0c0;
	margin-bottom: 30px;
}
.form-group:nth-child(4)>div{
	margin-top: 20px;
	margin-left: 30px;
}
.form-group:last-child{
	border-bottom: 2px solid #c0c0c0;
}
.backTo>*{
	margin-right: 10px;
	margin-bottom: 30px;
	margin-top: 10px;
}
.writerinfo>p{
	margin: 0;
}
.prev-next-list{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	display: flex;
}
.prev-next-list>div{
	padding: 0;
	margin: 0;
}
.prev-next-list>div:first-child {
	border-bottom: 1px solid #ADADAD;
}
.prev-next-list>div:hover input{
	cursor: pointer;
}