.container{
    width: 1100px;
    margin: auto;

    /*margin-top: 70px;*/
}

.input_txt, .purple_btn, .light_btn, .gray_btn, .kakao_btn{
    width: 300px;
    height: 45px;
    box-sizing: border-box;
    margin-top: 15px;
    font-size: 16px;
}
.input_txt{
    border: 1px solid #7F7F7F;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 10px;
}
.input_txt:focus{
    outline: 1px solid #8E44AD;
}
.purple_btn{
    color: #FFFFFF;
    background-color: #8E44AD;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
}

.light_btn{
    color: #8E44AD;
    background-color: #FFFFFF;
    border: 3px solid #8E44AD;
    border-radius: 5px;
    font-weight: bold;
}
.gray_btn{
    color: #FFFFFF;
    background-color: #5E5E5E;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
}
.kakao_btn{
    color: #191919;
    background-color: #FEE500;
    border: 0;
    border-radius: 5px;
    margin-top: 0;
    font-weight: bold;
}
.purple_btn:hover, .light_btn:hover, .kakao_btn:hover{
    cursor: pointer;
}
.light_btn:hover{
    color: #6D5874;
    border: 3px solid #6D5874;
}

.h2_txt{
    text-align: center;
    font-size: 24px;
    line-height: 90px;
}
.top_txt{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 50px 0px 50px 0px;
}
.container input[type="checkbox"]{
    display: none;
}
.container input[type="checkbox"]+span{
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url(/resources/img/login/checkbox_g.png);
    background-size: cover;
    vertical-align:bottom;
    cursor: pointer;
}
.container input[type="checkbox"]:checked+span{
    background-image: url(/resources/img/login/checkbox_p.png);
}