.time-range{
	padding-left: 0 !important;
	align-self: end !important;
}
	
.clsfrm-btn{
	background-color: rgb(159, 144, 207) !important;
	border-color: rgb(159, 144, 207) !important;
	color: #fff !important;
}
	
.clsfrm-btn:focus{
	box-shadow: 0 0 0 0.25rem rgb(32 13 253 / 25%) !important;
	border-color: rgb(159, 144, 207) !important;
}
	
.clsfrm-btn:active, .clsfrm-btn:hover{
	background-color: rgb(121 109 159) !important;
	border-color: rgb(159, 144, 207) !important;
}