@charset "UTF-8";
.contest-result-banner{
	text-align: center;
	height: 400px;
	background-image: url("/resources/img/mainpage/christmas-gold-re.jpg");
	filter: opacity(0.9);
	position: relative;
	border-bottom: 10px solid rgb(154, 134, 179);
}
.contest-banner-content-r>h2{
	font-family: "Noto Sans KR", serif;
	font-weight: bolder;
	color: #000000;
}
.contest-banner-content-r>h2>span{
	color: #BD0000;
}
.contest-banner-content-r>h5{
	font-family: "TmoneyRoundWindRegular";
	font-size: 18px;
}
.contest-banner-content-r>h5, .contest-banner-content-r>h5>span{
	color: #FFF;
}
.btn-announce{
	border: 1px solid #ADADAD;
}

.contest-banner-content-r{
	text-align: center;
	position: absolute;
	top: 120px;
	right: 42%;
}
.contest-info{
	position: absolute;
	left: 75%;
	top: 50px;
}
ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.trophy li{
	float: left;
	display: flex;
	align-items: center;
	padding: 0px 85px;
	padding-top: 30px;
}
.winners-profile{
	width: 75%;
}
.winners-profile>ul{
	overflow: hidden;
}
.winners-profile li{
	background: rgb(251, 251, 251);
	float: left;
	margin: 20px 15px;
	padding: 10px;
	box-shadow : 2px 2px 7px #C3AAFF;
}
.winners-profile li div{
	text-align: center;
}
.profile-pic>img{
	border-radius: 50px;
	margin: auto;
}
.total-vote{
	display: flex;
	justify-content: center;
}
.total-vote>h5{
	padding: 0;
	margin-top: 7px;
	margin-right: 10px;
}
.prize-tower>ul{
	display: flex;
	align-items: flex-end;
	overflow: hidden;
}
.prize-tower li{
	float: left;
	width: calc(100%/4);
	text-align: center;
	box-shadow : 2px 2px 5px #999;
}
.prize-tower li>h4{
	padding: 30px;
}
.prize-tower li:not(li:last-child){
	background: rgb(246, 240, 255);
}
.prize-tower li:first-child{
	margin-left: 30px;
	height: 500px;
}
.prize-tower li:nth-child(2){
	height: 300px;
}
.prize-tower li:nth-child(3){
	height: 150px;
}
.prize-tower li:last-child{
	box-shadow: none;
}
.points{
	color: #8E44AD;
}




.tagline {
  margin: 10px 0 0;
  text-align: center;
}

.tagline,
.tagline a {
  color: #aaa;
  text-decoration: none;
}

ul.winners {
  width: 20em;
  padding: 0;
  margin: 50px auto 0;
  border: 10px solid #fff;
  box-shadow: 0px 2px 3px #eaeaea;

}

ul.winners li {
  background: #f7f7f7;
  color: #ddd;
  list-style-type: none;
  padding: 1em;
  margin: 0;
  transition: background-color 0.5s;
}

ul.winners li:nth-child(2) {
  color: #fff;
  background: #1998c4;
}


/*크리스마스 전등효과*/
.christmas-lights{
	position: relative;
}
.lightrope{
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	margin: -15px 0 0 0;
	padding: 0;
	pointer-events: none;
	width: 100%;
	top: 0;
	filter: opacity(0.6);
}
.lightrope li{
	position: relative;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-interation-count: infinite;
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	width: 12px;
	height: 28px;
	border-radius: 50%;
	margin: 20px;
	display: inline-block;
	background:#f02241;
	box-shadow: 0px 4.66667px 24px 3px #f02241;
	-webkit-animation-name: flash-1;
	animation-name: flash-1;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}
.lightrope li:nth-child(2n+1){
	background: #42b261;
	box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.5);
	-webkit-animation-name: flash-2;
	animation-name: flash-2;
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
}
.lightrope li:nth-child(4n+2){
	background: #f9fbee;
	box-shadow: 0px 4.66667px 24px 3px #f9fbee;
	-webkit-animation-name: flash-3;
	animation-name: flash-3;
	-webkit-animation-duration: 1.1s;
	animation-duration: 1.1s;
}
.lightrope li:nth-child(odd){
	-webkit-animation-duration: 1.8s;
	animation-duration: 1.8s;
}
.lightrope li:nth-child(3n+1){
	-webkit-animation: 1.4s;
	animation-duration: 1.4s;
}
.lightrope li:before{
	content: "";
	position: absolute;
	background: #222;
	width: 10px;
	height: 9.33333px;
	border-radius: 3px;
	top: -4.66667px;
	left: 1px;
}
.lightrope li:after{
	content: "";
	top: -14px;
	left: 9px;
	position: absolute;
	width: 52px;
	height: 18.66667px;
	border-bottom: solid #222 2px;
	border-radius: 50%;
}
.lightrope li:last-child:after{
	content: none;
}
.lightrope li:first-child{
	margin-left: 40px;
}
@-webkit-keyframes flash-1{
	0%, 100%{
		background: #f02241;
		box-shadow: 0px 4.66667px 24px 3px #f02241;
	}
	50%{
		background: rgba(240, 34, 65, 0.4);
		box-shadow: 0px 4.66667px 24px 3px rgba(240, 35, 65, .02);
	}
}
@keyframes flash-1{
	0%,
  100% {
    background: #f02241;
    box-shadow: 0px 4.66667px 24px 3px #f02241;
  }
  50% {
    background: rgba(240, 34, 65, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(240, 35, 65, 0.2);
  }
}
@-webkit-keyframes flash-2{
	0,
	100%{
		background: #42b261;
		box-shadow: 0px 4.66667px 24px 3px #42b261;
	}
	50%{
		background: rgba(66, 178, 97, 0.4);
		box-shadow: 0px 4.6667px 24px 3px rgba(66, 178, 97, 0.2);
	}
}
@keyframes flash-2{
	0%,
  100% {
    background: #42b261;
    box-shadow: 0px 4.66667px 24px 3px #42b261;
  }
  50% {
    background: rgba(66, 178, 97, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(66, 178, 97, 0.2);
  }
}
@-webkit-keyframes flash-3{
	0%,
	100%{
		background: #f9fbee;
		box-shadow: 0px 4.6667px 24px 3px #f9fbee;
	}
	50%{
		background: rgba(249, 251, 238, .4);
		box-shadow: 0px 4.66667px 24px 3px rgba(249, 251, 238, .2);
	}
	@keyframes flash-3{
		0%,
  100% {
    background: #F9FBEE;
    box-shadow: 0px 4.66667px 24px 3px #F9FBEE;
  }
  50% {
    background: rgba(249, 251, 238, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(249, 251, 238, 0.2);
   }




