@charset "UTF-8";

 .contest-banner{
   text-align: center;
	height: 400px;
	background-image: url("/resources/img/mainpage/christmas-gold-re.jpg");
	filter: opacity(0.9);
	position: relative;
	border-bottom: 10px solid rgb(154, 134, 179);

}

.contest-banner-content>h2{
	font-family: "Noto Sans KR", serif;
	font-weight: bolder;
	color:white;
}

.contest-banner-content>h2>span{
	color: #BD0000;
}
.contest-banner-content>h5{
	font-family: "TmoneyRoundWindRegular";
	font-size: 18px;
}
.contest-banner-content>h5, .contest-banner-content>h5>span{
	color: #FFF;
}

.contest-banner-content{
	text-align: center;
	position: absolute;
	top: 120px;
	right: 42%;
}

.contest-info{
	position: absolute;
	left: 75%;
	top: 50px;
}





