.badge {
  width: 25px;
  height: 25px;
  background-color: tomato;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-badge {
  width: 25px;
  height: 25px;
  display: flex;
}
