.dm-badge {
  color: white;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.dm-no-badge {
  width: 25px;
  height: 25px;
  display: flex;
  text-indent: -9999px;
}

.over-100{
  width: 30px;
  height: 20px;
  border-radius: 10px 10px 10px 10px;
}

.from-1to99{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}