.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.screen-header_title {
  font-weight: 600;
  font-size: 30px;
}

.screen-header_icons {
  display: flex;
}
.screen-header_icons span {
  padding-left: 20px;
  font-size: 10px;
}

.screen-header_setting {
  position: relative;
}

.screen-header_dot {
  width: 5px;
  height: 5px;
  display: flex;
  background-color: tomato;
  position: absolute;
  left: 38px;
  bottom: 23px;
  border-radius: 50%;
}
